//##############################################################################
// Header
//##############################################################################

@keyframes reveal-bottom-left-3-1 {
  0% {
    transform: translate3d(0, -200%, 0);
  }
  25%, 75% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes reveal-bottom-left-3-2 {
  0%, 12.5% {
    transform: translate3d(0, -100%, 0);
  }
  37.5%, 62.5% {
    transform: translate3d(0, -100%, 0);
  }
  87.5%, 100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes reveal-bottom-left-3-3 {
  0%, 25% {
    transform: translate3d(0, -200%, 0);
  }
  75%, 100% {
    transform: translate3d(0, 0, 0);
  }
}

// Page revealer styles
// #####################################
@keyframes reveal-top-right-3-1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25%, 75% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, -200%, 0);
  }
}

@keyframes reveal-top-right-3-2 {
  0%, 12.5% {
    transform: translate3d(0, 0, 0);
  }
  37.5%, 62.5% {
    transform: translate3d(0, -100%, 0);
  }
  87.5%, 100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes reveal-top-right-3-3 {
  0%, 25% {
    transform: translate3d(0, 0, 0);
  }
  75%, 100% {
    transform: translate3d(0, -200%, 0);
  }
}
.revealer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
}

.revealer-animate,
.revealer-close {
  opacity: 1;
}


.revealer--cornertopleft,
.revealer--cornertopright,
.revealer--cornerbottomleft,
.revealer--cornerbottomright {
  top: 50%;
  left: 50%;
}

.revealer--top,
.revealer--bottom {
  left: 0;
}

.revealer--right,
.revealer--left {
  top: 50%;
  left: 50%;
}

.revealer--top {
  bottom: 100%;
}

.revealer--bottom {
  top: 100%;
}

.revealer__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ddd;
    //transform: translate3d(0, -200%, 0);
  &:nth-child(2) {
    background: red;
  }
}



.revealer-animate .revealer__layer {
  animation: reveal-top-right-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
  &:nth-child(2) {
    animation-name: reveal-top-right-3-2;
  }
  &:nth-child(3) {
    animation-name: reveal-top-right-3-3;
  }
}

.revealer-close .revealer__layer {
  animation: reveal-bottom-left-3-1 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards ; // easeInOurCirc
  &:nth-child(2) {
    animation-name: reveal-bottom-left-3-2;
  }
}

//  loader styles
// #####################################
.loader {
  display: none;
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loader__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
  z-index: 10;
  font-family: Montserrat,sans-serif;
  font-weight: 900;
  font-size: calc(1.3rem + 4vw);
  text-transform: uppercase;
  transform-origin: top;
  line-height: .9;
  color: #fff;
}

.loader__text-line {
  overflow: hidden;
  > div {
    transform: 'matrix(1.00,0.07,-0.07,1.00,0,75)';
    transform-origin: center left;
  }
}
.box,.box2,.box3 {
  width: 100px;
  height: 100px;
  background-color: #9D5B75;
}

//  default styles
// #####################################
#indicator{
  position: fixed;
  top:0;
  left:0;
  height: 10px;
  background-color: red;
  z-index: 999;
}

*,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    color: #57585c;
    color: var(--color-text);
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
  }

  /* Color schemes */
  .demo-1 {
    --color-text: #fff;
    --color-link: #5f5f5f;
    --color-link-hover: #ff963b;
    --color-enter: #fff;
    --color-title: #fff;
    --color-subtitle: #5f5f5f;
    --color-menu-item: #000;
    --color-menu-item-hover: #ff963b;
    --color-menu-item-hover-alt: #8544da;
    --color-content: #222325;
    --color-content-fixed: #ddd;
    --font-alt: 200 6vw/1 'Spectral', serif;
    --color-next: #5f5f5f;
    --color-next-hover: #8544da;
  }


  /* Page Loader */
  .js .loading::before {
    content: '';
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccd8e4;
    background: var(--color-content);
  }

  .js .loading::after {
    content: '';
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    pointer-events: none;
    background: #333;
    background: var(--color-text);
    border-radius: 50%;
    animation: loaderAnim 0.5s ease infinite alternate forwards;
  }

  @keyframes loaderAnim {
    0% {
      transform: scale3d(0.5,0.5,1);
    }
    100% {
      transform: scale3d(1,1,1);
    }
  }

  .hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .content {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .content__inner {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
