@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

// Text Defaults
$font-size: 16px !default;
$font-family-1: 'Montserrat', sans-serif !default;
//$font-family-2: 'Oswald', serif !default;


//  Headlines
// ################
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-1;
  font-weight: bold;
}

//  Links
// ################
a,a:link,a:visited {
  text-decoration: none;
}
